<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    
    <%= f.label :text %>
    <%= f.text_field :text, class: 'form-control' %>

    <%#= f.label :category %>
    <%#= f.text_field :category, class: 'form-control' %>

    <% @category.each do |a| %>

    <% end %>

    <%#= f.select :category, [@category.first.category] %>

    <%= f.select(:category, @category.all.map {|p| [p.category]}, :prompt => "Select a Category") %>



    <%= f.submit %>
  </div>
<% end %>
