<!-- <p id="notice"><%= notice %></p> -->

<% f = @question %>


<div class="row" style="margin:0; padding: 5px 30px 30px 30px; position: relative;">  
  <div class="large-12 columns">
    <div class = "row">
      <div class = "large-12 columns" style="background-color: #2D95EB; height: 40px; border-radius: 6px; -moz-border-radius: 6px;">
      </div>
    </div>

    <div class = "row">
      <div class = "large-12 columns" style="background-color: white; height: 10px;">
      </div>
    </div>
    
    <div class = "row" style="background-color: #e4e4e4;">
    <div class = "large-12 columns">


  Posted by user: <%= f.user.email %>
  Question: <%= f.text %>
  Category: <%= f.category.category %>

  Yes: <%= f.vote_details.where(yes: true).count %>
  No: <%= f.vote_details.where(yes: false).count %>

  <% if f.vote_details.where(ip: @ip).exists? %>

        You have already voted!

  <% else %>
    <%= link_to "Yes", makevote_path(question_id: f.id, yes: true, ip: @ip), method: "post" %>
    <%= link_to "No", makevote_path(question_id: f.id, yes: false, ip: @ip), method: "post" %>
  <% end %>
  </div>
  </div>
  </div>
  </div>

<!--

  <%= form_for(@comment) do |a| %>
  <div class="actions" style = "position: absolute;">

    <% if user_signed_in? %>
      <%= a.label :Comment %>
      <%= a.text_area :text, class: 'form-control' %>
      </pre>

      <%= a.hidden_field :question_id, :value => f.id %>
      <%= a.hidden_field :user_id, :value => current_user.id %>
      <%= a.submit %>

    <% else %>
    <pre>
    Log in if you want to make a comment!!!
    </pre>
    <% end %>
  <% end %>
  </pre>

  <% @comments.each do |b| %>

  <pre>
    Username: <%= User.find_by(id: b.user_id).email %>
    Comment: <%= b.text %>
  </pre>

  <% end %>

-->







<%#= link_to 'Edit', edit_question_path(@question) %>
<%#= link_to 'Back', questions_path %>
