<p id="notice"><%= notice %></p>

<% f = @question %>


<pre>
  Posted by user: <%= f.user.email %>
  Question: <%= f.text %>
  Category: <%= f.category.category %> 

  Yes: <%= f.vote_details.where(yes: true).count %>
  No: <%= f.vote_details.where(yes: false).count %>

  <% if f.vote_details.where(ip: @ip).exists? %>

        You have already voted!

  <% else %>
    <%= link_to "Yes", makevote_path(question_id: f.id, yes: true, ip: @ip), method: "post" %>    
    <%= link_to "No", makevote_path(question_id: f.id, yes: false, ip: @ip), method: "post" %>
  <% end %>

  </pre>



<%#= link_to 'Edit', edit_question_path(@question) %> 
<%#= link_to 'Back', questions_path %>
