<div class="row">
  <div class="large-12 medium-11 columns">
  <h1>Vote Your View</h1>
  Sort by: <%= link_to "Most Recent", root_path(sort: "newest"), method: "get" %> <%= link_to "Oldest first", root_path(sort: "oldest"), method: "get" %> <%= link_to "vote count", root_path(sort: "vote_count"), method: "get" %>
  </div>
</div>

<!-- ################### Each Question Div ################ -->

<div class = "row">
  <div class="large-11 columns fotoramaStyle">
        <div class="fotorama"
        data-width="100%"
        data-ratio="800/500">
        <img src="http://s.fotorama.io/1.jpg">
        <img src="http://s.fotorama.io/2.jpg">
      </div>

  </div>
</div>
<% @questions.each do |f|%>

<div class="row">  
  <div class="large-11 columns">
    <div class = "QuestionStyle">
    <div class = "innerwhite">
      <h3>Posted by user: <%= f.user.email %></h3>
      <h3>Question: <%= f.text %></h3>
  <!-- Category: <%= f.category.category %> -->
  <%#= Category.where(category_id: f.category_id).category %>
      <div class = "yess">Yes: <div><%= f.vote_details.where(yes: true).count %></div></div>
      <div class = "noo">No: <div><%= f.vote_details.where(yes: false).count %></div></div> 

      <% if f.vote_details.where(ip: @ip).exists? %>
        <%= link_to "Individual question page", question_path(id: f.id.to_s), method: "get" %>

        <div>You have already voted!</div>

      <% else %> 

      <a href="javascript:void(0)" class = "alert yesss">yes</a>
      <div class = "hidden"><%= f.id %></div>
      <a href="javascript:void(0)" class = "alert nooo">no</a>
      <div class = "hidden"><%= f.id %></div>
      <%= link_to "Individual question page", question_path(id: f.id.to_s), method: "get" %>

      <% end %>

      <!--
      !!!!!!!!!!!!!!!!!!!!!!!!!!Old code might be useful !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      <%= link_to "Yes", makevote_path(question_id: f.id, yes: true, ip: @ip), method: "post" %>
      <%= link_to "No", makevote_path(question_id: f.id, yes: false, ip: @ip), method: "post" %>
      -->

      </div>
    </div>
  </div>
</div>

  
<% end %>

<%= paginate @questions %>


<script type="text/javascript"charset="UTF-8">


/*

  function DoAction(question_id, ipAddress){
    $(document).ready(function(){
      debugger

        if ($(this).attr('class') == "alert yesss")
        {
          console.log("success");
          var domElement = $( this ).parent().children(".yess").children("div").html();
          var a = parseInt(domElement)+1;
          $( this ).parent().children(".yess").children("div")[0].innerHTML = a;
         
          debugger;
         $.ajax({
            type: "post",
            url: "/updateVote",
            data: {yes: true, ip: ipAddress, question_id: question_id },
              success: function(resp){ console.log("success")}
          });}
            
        });
  }

*/   

    $(function () {
      $('.alert').click(function () {

        var questionId = $( this ).next().html();
        var currentDiv = $( this )[0]
        var yesDiv = $( this ).parent().children(".yesss")[0];
        var noDiv = $( this ).parent().children(".nooo")[0];
        

        if ($(this).attr('class') == "alert yesss")
        {

          var domElement = $( this ).parent().children(".yess").children("div").html();
          var a = parseInt(domElement)+1;
          var b = $( this ).parent().children(".yess").children("div")[0];
          
         $.ajax({
            type: "post",
            url: "/updateVote",
            data: {yes: true, question_id: questionId },
            success: function(resp){
              b.innerHTML = a;
              currentDiv.remove();
              noDiv.remove();
            }

          });
        }
        else        
        {
          var domElement = $( this ).parent().children(".noo").children("div").html();
          var a = parseInt(domElement)+1;
          var b = $( this ).parent().children(".noo").children("div")[0];

          $.ajax({
            type: "post",
            url: "/updateVote",
            data: {yes: false, question_id: questionId },
            success: function(resp){ 
              b.innerHTML = a;
              currentDiv.remove();
              yesDiv.remove();
            }
          });

        }

      })
    });

  </script>



