<!-- ################### Each Question Div ################ -->

<% @questions.each do |f|%>

<div class="row" style="margin:0; padding: 5px 30px 30px 30px;">  
  <div class="large-12 columns">

    <!-- ################### Top blue part ################ -->

    <div class = "row">
      <div class = "large-12 columns" style="background-color: #2D95EB; height: 40px; border-radius: 6px; -moz-border-radius: 6px;">
        <div class = "question_blue_bar">Posted at: <%= f.created_at.strftime("%b %d, %Y") %></div>        
      </div>
    </div>

    <!-- ################### White space ################ -->

    <div class = "row">
      <div class = "large-12 columns" style="background-color: white; height: 10px;">
      </div>
    </div>

   <!-- ################### Main section ################ -->

    <div class = "row" style="background-color: #e4e4e4;">
      <div class = "large-12 columns">
        <h3>Posted by user: <%= f.user.email %></h3>
        <h3>Question: <%= f.text %></h3>
        <div class = "yess">Yes: <div><%= f.vote_details.where(yes: true).count %></div></div>
        <div class = "noo">No: <div><%= f.vote_details.where(yes: false).count %></div></div> 

        <% if f.vote_details.where(ip: @ip).exists? %>
          <div>You have already voted!</div>
        <% else %> 
          <a href="javascript:void(0)" class = "alert yesss">yes</a>
          <div class = "hidden"><%= f.id %></div>
          <a href="javascript:void(0)" class = "alert nooo">no</a>
          <div class = "hidden"><%= f.id %></div>
        <% end %>

        <%= link_to "Individual question page", question_path(id: f.id.to_s), method: "get" %>

      </div>
    </div>
    <!-- ################### Main section end ################ -->

  </div>
</div>

  
<% end %>

<!-- ################### Question div end ################ -->

<%= paginate @questions %>

