<div class="leftbar" data-job-id=<%="#{params[:id]}"%>>

<!--  style="display:block" Removed this from <a> tag comment illegal-->
  <div class = "squares">
    <a href=<%= root_url %> style="color: #000066; font-size: 55px; margin-left: 3px; margin-bottom: 40px; font-family: 'Erica One', cursive; position: relative; bottom: 10px;">V</a>
  </div>

  <%# Category.each do |f|%>
      <%#= link_to f.category, category_path(id: f.id.to_s), method: "get" %>
      <!--<hr>-->
  <%# end %>
  <div class="tooltip" title="Arts">
    <div class = "squares">
      <%= link_to category_path(id: Category.find_by(category: "Arts").id.to_s) do %>
        <i class="fa fa-cubes fa-2x zz" style="text-decoration: none;" id=<%="#{Category.find_by(category: "Arts").id}"%>></i>
      <% end %>
    </div>
  </div>

  <div class="tooltip" title="Sports">
    <div class = "squares">
      <%= link_to category_path(id: Category.find_by(category: "Sports").id.to_s) do %>
        <i class="fa fa-futbol-o fa-2x" style="text-decoration: none; font-size: 2.2em;" id=<%="#{Category.find_by(category: "Sports").id}"%>></i>
      <% end %>
    </div>
  </div>

  <div class="tooltip" title="Knowledge">
    <div class = "squares">
      <%= link_to category_path(id: Category.find_by(category: "Knowledge").id.to_s) do %>
        <i class="fa fa-book fa-2x" style="text-decoration: none; font-size: 2.3em;" id=<%="#{Category.find_by(category: "Knowledge").id}"%>></i>
      <% end %>
    </div>
  </div>

  <div class="tooltip" title="Politics">
    <div class = "squares">
      <%= link_to category_path(id: Category.find_by(category: "Politics").id.to_s) do %>
        <i class="fa fa-globe fa-2x" style="text-decoration: none; font-size: 2.4em;" id=<%="#{Category.find_by(category: "Politics").id}"%>></i>
      <% end %>
    </div>
  </div>

  <div class="tooltip" title="Entertainment">
    <div class = "squares" style = "margin-top: 10px;">
      <%= link_to category_path(id: Category.find_by(category: "Entertainment").id.to_s) do %>
        <i class="fa fa-video-camera fa-2x" style="text-decoration: none; font-size: 2.2em;" id=<%="#{Category.find_by(category: "Entertainment").id}"%>></i>
      <% end %>
    </div>
  </div>

  <div class="tooltip" title="Random">
    <div class = "squares">
      <%= link_to category_path(id: Category.find_by(category: "Random").id.to_s) do %>
        <i class="fa fa-random fa-2x" style="text-decoration: none;" id=<%="#{Category.find_by(category: "Random").id}"%>></i>
      <% end %>
    </div>
  </div>

</div>

<script>
var id;
var $leftbar = $('.leftbar');
$.each($("i"), function(){
  if(this.id == $leftbar.data('job-id')){
    $( this ).css( 'color', '#e5e500' );
    }
  }
);

//if(id = $leftbar.data('job-id'))
    // Do some job things.
</script>

