<!DOCTYPE html>
<html>
<head>
  <title>Vote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%#= include_jquery %>
  <%#= include_fotorama %>
  <!--  Place in <head> to set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Erica+One' rel='stylesheet' type='text/css'>

  <!-- ################################# Tooltip ##########################-->
  <script>
        $(document).ready(function() {
            $('.tooltip').tooltipster();
        });
  </script>        
</head>
<body>

    
<div class="row">
  <!-- <div class="off-canvas-wrap " data-offcanvas> -->
 <% # <%='move-right' unless browser.mobile? %>   
  <!-- <div class="inner-wrap"> -->

  <% if browser.mobile? %>
    <%= render 'layouts/rightbar' %>
  <% end %>

  <div class="large-9 medium-12 small-12 columns" style = "padding: 0;">
    <%= render 'layouts/leftbar' %>
    <div class = "center">

      <%= yield %>
    </div>
    

  </div>

  <% if !browser.mobile? %>
    <%= render 'layouts/rightbar' %>
  <% end %>


</div>
<!--</div> -->
<!-- </div> -->

<div class="row">
  <div class="large-10 columns" style="margin-left: 100px;">
  <h5>&copy 2013-<%= Time.now.year %> voteyourview.com </h5>
  </div>
</div>

  


</body>


</html>

<script>
   $(function(){ $(document).foundation({})});


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64888518-1', 'auto');
  ga('send', 'pageview');

</script>